<header>
    <nav class="navbar">
        <ul id="menu-links">
            <li><a href="/index.html">Index</a></li>
            <li><a href="/academico.html">Académico</a></li>
            <li><a href="/lecturas.html">Lecturas</a></li>
            <li><a href="/blog.html"{% if page.url == "/blog.html" %} class="active"{% endif %}>Blog</a></li>
            <li class="empujar-derecha"><a href="/Documentos/CV Santiago González Pérez.pdf" target="_blank" rel="noopener noreferrer">CV</a></li>
            <li><a href="https://www.linkedin.com/in/santiago-gonzalez-perez/" target="_blank" rel="noopener noreferrer">LinkedIn</a></li>
            <li class="menu-hamburguesa"><a href="javascript:void(0);" onclick="toggleMenu()">&#9776;</a></li>
        </ul>
    </nav>
</header>